{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>
        Hospital Integrations
    </h1>

    <p>
        Future hospital API and healthcare-system
        integrations will be managed here.
    </p>


    <div class="card">

        <h3>
            Hospital API Integration
        </h3>

        <p>
            This module can later connect with
            authorized hospital systems to receive
            resource availability.
        </p>

    </div>

</div>

{% endblock %}